
.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.review-slider__container {
  max-width: 1530px;
}

.footer-container {
  position: relative;
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

